FFusion-RJVB.xcodeproj/bertin.mode1v3
FFusion-RJVB.xcodeproj/bertin.mode1
build/Deployment/FFusion.component.dSYM
build/FFusion-RJVB.build
build/winx86
Debug
Release
version_check.dSYM
version_check
version_check.suo
version_check.vcxproj.filters
version_check.vcxproj.user
*.suo
Develop
FFusion-v1.24-installer.exe
buildid
FFmpeg/osx86/lib/pkgconfig
build/osx86
FFusion-v1.25-installer.exe
version_check-osx86.exe.dSYM
version_check-osx86.exe
FFmpeg/win32.test
FFmpeg/win32.test2
createStaticLibs-win32-test2.sh
createStaticLibs-win32-test.sh
build/Deployment/FFusion.component
FFmpeg.zip
*.sdf
ipch/
FFusion-RJVB.xcodeproj/bertin.pbxuser
FFusion-RJVB.xcodeproj/project.xcworkspace/
build/
.claude
