<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>FFusion</string>
	<key>CFBundleIdentifier</key>
	<string>org.perian.FFusion</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>thng</string>
	<key>CFBundleShortVersionString</key>
	<string>2021.07.16</string>
	<key>CFBundleSignature</key>
	<string>Peri</string>
	<key>CFBundleVersion</key>
	<string>2021.07.16</string>
	<key>CSResourcesFileMapped</key>
	<string>yes</string>
</dict>
</plist>
